<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Modern Business - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Navigation-->

    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Find Books</h1>
                <p class="lead fw-normal text-muted mb-0">Random</p>
            </div>
            <div class="row gx-5">
                <form th:action="@{/books/search}" class="form-check-inline my-2 my-lg-0 mb-3">
                    <input name="query" class="form-control me-sm-2 mb-5" type="search" placeholder="Search" aria-label="Search">
                </form>
                <div th:each="book:${books}" class="col-lg-6 mb-2">
                    <div class="position-relative mb-5">
                        <img class="img-fluid rounded-3 mb-3" th:src="${book.photoUrl}" alt="Book Cover"
                             style="max-width: 200px; max-height: 200px;" />
                        <div>
                            <a th:href="@{/books/{bookId}(bookId=${book.id})}"
                               class="h3 fw-bolder text-decoration-none link-dark stretched-link"
                               th:text="${book.title}"
                               href="#!"></a>
                        </div>
                    </div>
                    <a th:href="@{/books/{bookId}(bookId=${book.id})}" class="btn btn-primary">View</a>

                    <a th:if="${isAdmin}" th:href="@{/books/{bookId}/edit(bookId=${book.id})}"
                       class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5 bg-light">
        <div class="container px-5 my-5">
            <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
            <a class="btn btn-lg btn-primary" href="#!">Contact us</a>
        </div>
    </section>
</main>

</body>
</html>
